@model WebApplication1.Models.Chirper

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chirper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_time)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
